<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>D3 Graphic</title>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="../d3/base.css">
  <link rel="stylesheet" href="../style.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
  <div class="container">
<!--  -->
  <h2>Fundraising By Candidate</h2>

     
 <div id="chart">
     
  </div>

  </div>
 
 <script  type="text/template" id="main-template"></script> 
 <!--template-->
<!-- <div id="svg">
  
<!scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="../backbone/backbone_script.js"></script>
  <script src="../d3/d3.min.js"></script>
  <script src="../d3/d3_script.js"></script>
</body>

</html>