<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>D3 Graphic</title>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.css">
    <!-- Latest compiled and minified CSS -->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/style.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/foundation.css"/>
<script src="../js/vendor/modernizr.js"></script>
</head>
<body>
  <div class="container">
<!--  -->


      <div class="row">
        <div class="large-3 columns">
          <h1><img src="http://placehold.it/400x100&text=Logo"/></h1>
        </div>
        <div class="large-9 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
      
       
      
      
      <div class="row">    
        
         
         
        <div class="large-9 push-3 columns">
          <div class="header">
  
  <h1>Real-time Fundraising By Candidate:</h1>
  <h2>2016 Cycle</h2>
  
</div><!--header-->
 <div id="chart"></div><!--chart-->

  <div class="header">
      <h2>Industry Contributions to <span id="candidate-name"></span> 2012</h2>

  </div>
   
  <select id="candidate-select">
    <option value="Sanders">Sanders</option>
<!--     <option value="Trump">The Donald</option>
 -->    
<!--     <option value="Bush">Bush</option>
 -->    
 <!-- <option value="Carson">Carson</option> -->
    <option value="Omalley">Omalley</option>
    <option value="Paul">Paul</option>
<!--     <option value="Fiorina">Fiorina</option>
 -->    <option value="Clinton" selected >Clinton</option>
    <option value="Cruz">Cruz</option>
    <option value="Santorum">Santorum</option>
<!--     <option value="Huckabee">Huckabee</option>
 -->    <option value="Jindal">Jindal</option>
    <option value="Rubio">Rubio</option>
    <option value="Graham">Graham</option>

  </select>
  <div id="chart2"></div><!--chart2-->

   <h4>Data from the <a href="https://api.open.fec.gov/developers">Federal Election Commission Api </a>,  the <a href="http://developer.nytimes.com/docs/campaign_finance_api/">New York Times Campaign Finance API </a>and the<a href="http://sunlightfoundation.com/api/">Sunlight Foundation API</a></h4>

   <h4>2012 is most recent year available for industry data. <br>Industry data only available for candidates who have previously held office</h4>
</div><!--container-->
   </div>
        
        
         
         
        <div class="large-3 pull-9 columns">
            
          <ul class="side-nav">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
          
          <p><img src="http://placehold.it/320x240&text=Ad"/></p>
            
        </div>
        
      </div>
        
      
       
      
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Section 1</a></li>
                <li><a href="#">Section 2</a></li>
                <li><a href="#">Section 3</a></li>
                <li><a href="#">Section 4</a></li>
              </ul>
            </div>
          </div>
        </div> 
      </footer>
<!--scripts-->
  <script>
    document.write('<script src=../js/vendor/' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>')
    </script>
  <script src="../js/vendor/jquery.js"></script>
  <script src="../js/foundation.min.js"></script>
  <script>
      $(document).foundation();
  </script>
  <script src="../js/vendor/jquery.js"></script>
  <script src="../js/foundation/foundation.js"></script>
  <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" ></script>
  <script src="../js/d3.min.js"></script>
  <script src="../js/ajax.js"></script>
  <script src="../js/d3_script_chart1.js"></script>
  <script src="../js/d3_script_chart2.js"></script>
  <script src="../js/d3_script_chart3.js"></script>


</body>

</html>