body {
  background:#819090;
}

h1 {
    padding: 5px;
  margin: 5px;
}
h2 {
  padding: 5px;
  margin: 5px;
}

h2 {
  color:#042029;
  padding: 5px;
  margin: 5px;
}

h4 {
  color: #042029;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
}

div.header{
  margin: 0 auto;
}

div.container{
  margin: 23px 0px 0px 20%;
}

div.chart{
  position:relative;
}

div.svg{
    position:relative;
}

div#chart2 {
  width: 700px;
}
div.tooltip {
  color: black;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.25);
}

select#candidate-select {
  margin-bottom: 5px;
}
